

.Home-img{


    width: 100%;
}
.img{

    width: 100%;
    height: 600px;
    object-fit:cover;
    margin: 10px auto;
    border-radius: 18px;
    
}
.Home-title{

    position: absolute;
    top: 0;
    padding: 20px 80px;
    font-size: 40px;
    font-weight: 500;
    color: white;
    
    
    
}

.Home-container{

   margin: 30px 10%;
   position: relative;
}

.home-details{

    text-align: left;
}

.Search{

    text-decoration: none;
    border: 1px solid gray;
    border-radius: 18px;
    margin: 0 18px;
    padding: 8px 10px;
}

.search-bar{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: block;
    position: sticky;
}
.counter{

    display: flex;
    display: inline-block;
    margin: 0 19px;
    position: sticky;
    text-align: center;
}